body{
   font-family: Arial, sans-serif;
    text-align: center;
}

header{
    background: #56cd32;
    margin: 0px;
    padding: 0px;
    border-radius: 1.6px;
}
img{
    height: 200px;
    width: 200px; 
    border-top: green;
    border-radius: 200px;
}
h2{
    background-color:cyan ;
    color: green;
    text-align: center;
    border: 2px dotted;
    margin: 2px;
    padding: 0px;
}
nav{
    background: blueviolet;
    color: honeydew;
}
nav ul{
    background: red;
        justify-content: center;
     list-style-type: none;
     align-items: center;
    display: flex ;
    gap : 20px ;
}
nav ul li{
margin: 15px;
padding: 13px;

    color: hsl(13, 16, 18);
    text-decoration: none;
    font-weight: bold;
}
h3{
    background-color:burlywood;
   border: 3px springgreen solid;
}
section{
    color: wheat;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    max-height: 800px;
}
section div {
    border: 2px solid #ddd;
    padding: 0px;
    margin: 2px;
    background: wheat;
    color: blue;
    box-shadow: 0 5px 6px rgb(1,2,1.2);
border-radius: 0px;
transition: transform 0.3s;
}
.project:hover{
    transform: scale(1.05);
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    background: #56cd32;
    padding: 10px;
    margin: 1px;
    border-radius:2px;
    box-shadow: 0 2px 4px rgb(0,3,1.0);

}